#forgot-page .container {
    min-height: calc(100vh - 155px);
}

.box-area {
  width: 930px;
}

.left-box {
  background-image: url("../images/forgot/featured-3.jpeg");
}

.right-box {
  padding: 40px 30px 40px 40px;
}

::placeholder {
  font-size: 16px;
}

#modal-success svg {
    color: var(--main-color);
}

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    min-height: 150px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}